<!DOCTYPE html>
<html>
<head>
    <title>Recommend Playlist</title>
</head>
<body>

<h2>Recommended Playlist for {{ playlist_url }}</h2>

{% if recommend_playlist.empty %}
    <p>No recommended playlist found.</p>
{% else %}
<table>
    <tr>
      {% for col in recommend_playlist.columns %}
        <td>
          {{col}}
        </td>
      {% endfor %}
    </tr>
      {% for index, row in recommend_playlist.iterrows %}
        <tr>
          {% for cell in row %}
            <td>
              {{cell}}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
  </table>
{% endif %}

</body>
</html>
